* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #F1F2F1;
}

.clearfix {
	clear: both;
}

#container {
    width: 100vw;
    height: 100vh;
    background-image: url("Sources/xpback.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    display: grid;
    grid-template-columns: auto 623px auto;
    grid-template-rows: auto 50px 365px auto;

}

#playTable {
    grid-column: 2/3;
    grid-row: 3/4;
    width: 100%;
    height: 100%;
    background-color: #3B77BC;
    border: 1px solid #152b45;
}

#tableTop {
    background-color: #3B77BC;
    grid-column: 2/3;
    grid-row: 2/3;
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #152b45;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 40% 40% 10% 10%;
}

#restartButton {
    grid-column: 3/4;
    grid-row: 1/2;
    width: auto;
    height: 100%;
    cursor: pointer;
}

#closeButton {
    grid-column: 4/5;
    grid-row: 1/2;
    width: auto;
    height: 100%;
    cursor: pointer;
}

#startP {
    text-align: center;
    color: white;
    font-size: 2vmax;
}

#statusP {
    text-align: left;
    padding: 15px;
    color: white;
    grid-column: 1/2;
    grid-row: 1/2;
}